.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
  
    padding: 20px;
  }
  .example-container table{
    width: 100%;
    text-align: center !important;
  }
  th.mat-header-cell {
    text-align: right;
  }
  .lastRow{
    visibility: hidden;
  }
  .addBtn{
    color: green!important;
    cursor: pointer;
  }
  .cancel{
    color: red!important;
    cursor: pointer;
    
  }