<mat-card class="titrCard">
    <h5 class="titr">
      آیتم های غیرمحاسباتی وابسته به درس
    </h5>
  </mat-card>
  <mat-card *ngIf="commonService.loading==true" class="spinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>
  <br>
  <div class="content">
  <button class="btnAdd" (click)="btnAdd()" mat-raised-button color="primary"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span style="padding: 5px;">ایجاد آیتم جدید</span></button>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="جستجو">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ردیف </th>
        <td mat-cell *matCellDef="let row;let index = index"> {{index+1}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> نام فرمول </th>
        <td mat-cell *matCellDef="let row"> {{row.displayName}}</td>
      </ng-container>
        
       <!-- Progress Column -->
       <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> توضیحات فرمول </th>
        <td mat-cell *matCellDef="let row"> {{row.description}}</td>
      </ng-container>
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        </th>
        <!-- icon rows -->
        <td mat-cell *matCellDef="let row;let index = index">
          <i class="fa fa-trash deleteRow" (click)="deleteRow(row)" aria-hidden="true"></i>
          <!-- <i class="fa fa-check  editRow " *ngIf="row.changed" (click)="save(1)" aria-hidden="true"></i> -->
          <!-- <i class="fa fa-spinner fa-spin fa-1x fa-fw spinerOfEdit"  *ngIf="row.changed"></i> -->
        </td>
        <!-- icon footer -->
        <td class="footerInput" mat-footer-cell *matFooterCellDef="let row">
          <i class="fa fa-plus addRow" (click)="addRow()" aria-hidden="true"></i>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[20, 100]"></mat-paginator>
  </div>
</div>
  