<div dir="rtl">
  <mat-card class="titrCard">
    <h5 class="titr">
      ایجاد آیتم غیر محاسباتی وابسته به درس جدید
    </h5>
  </mat-card>
  <br>
  <form class="example-form">

    <div class="col col-1"></div>


    <div class="col col-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="نام" [(ngModel)]="displayName" [ngModelOptions]="{standalone:
            true}">
      </mat-form-field>
    </div>
    <div class="col col-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="توضیحات" [(ngModel)]="description" [ngModelOptions]="{standalone:
            true}">
      </mat-form-field>
    </div>


    <!-- <div class="col col-2"></div> -->


    <div>
      <button style="float:right" mat-raised-button color="primary" (click)="addCommonFormul()">ذخیره</button>
    </div>
  </form>
</div>