.titrCard{
    position: static;
    background-color: #ff4081;
   color:white;

   .titr{
    overflow-y: hidden;
    font-size: medium;
   }
}
.mat-drawer-content{
.mat-sidenav-content{
    overflow-y: hidden;
}
} 