<div dir="rtl">
  <mat-card class="titrCard">
    <h5 class="titr">
      ایجاد آیتم غیر محاسباتی وابسته به درس جدید
    </h5>
  </mat-card>
  <br>
  <form [formGroup]="addFormul" (ngSubmit)="addCommonFormul()" class="center" (keydown)="keyDownFunction($event)">

    <div class="col col-1"></div>

    
    <div class="col col-3">
      <mat-form-field class="example-full-width">
        <input  formControlName="name" required matInput placeholder="نام" [(ngModel)]="displayName" >
      </mat-form-field>
    </div>
    <div class="col col-3">
      <mat-form-field class="example-full-width">
        <input formControlName="description" required matInput placeholder="توضیحات" [(ngModel)]="description">
      </mat-form-field>
    </div>
  


    <!-- <div class="col col-2"></div> -->


    <div>
      <button style="float:right" mat-raised-button color="primary" type="submit">ذخیره</button>
    </div>
  </form>
</div>