
<nav mat-tab-nav-bar class="nav" >
  <div mat-tab-link class="flex-fill" *ngFor="let link of navBarItem" [routerLink]="link.path" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">
    <div class="menu-item">
      <fa class="tabIcons" [name]="link.icon" size="2x"></fa>
      <div class="menu-label">{{link.label}}</div>
    </div>
  </div>
</nav>

<mat-sidenav-container class="dom" autosize hasBackdrop="true">
  <mat-sidenav position="start" #drawer mode="over">
    <mat-list role="side">
      <mat-list-item class="userInfoBox">
      </mat-list-item>
      <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of pages" [routerLink]="link.path">
        <fa [name]="link.icon" class="rightIcons" size="1x"></fa>
        <span class="label">{{link.label}}</span>
        <mat-divider>
        </mat-divider>
      </mat-list-item>
      <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of singlePages"
        [routerLink]="link.path">
        <fa [name]="link.icon" class="rightIcons"></fa>
        <span class="label">{{link.label}}</span>
        <mat-divider>
        </mat-divider>
      </mat-list-item>
      <mat-list-item (click)="logout()" role="listitem">
        <fa name="fas fa-sign-out" size="1x"></fa>
        <span class="label">خروج</span>
        <mat-divider>
        </mat-divider>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <fa name="fas fa-align-justify" size="2x" class="rightMenuIcon" (click)="drawer.toggle()"></fa>
<!-- <img src="src\assets\index.jpg"> -->
<!-- <img class="image" src="./assets/index.jpg" width="60px"> -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>