<nav mat-tab-nav-bar class="nav">
  <div mat-tab-link class="flex-fill" *ngFor="let link of navBarItem" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    <div class="menu-item">
      <fa class="tabIcons" [name]="link.icon" size="2x"></fa>
      <div class="menu-label">{{link.label}}</div>
    </div>
  </div>
</nav>

<mat-sidenav-container class="dom" autosize hasBackdrop="true">
  <mat-sidenav position="start" #drawer mode="over">
    <mat-list role="side">
      <mat-list-item class="userInfoBox">
      </mat-list-item>


      <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of [{}]" [routerLink]="link.path">
        <fa name="  fa fa-user-circle" size="2x" style="color: #fff;"></fa>
        <label class="label">{{this.commonService.activeUser[0].fullName}}</label>
        <mat-divider>
        </mat-divider>
      </mat-list-item>


      <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of pages" [routerLink]="link.path">
        <fa [name]="link.icon" class="rightIcons" size="1x"></fa>
        <span class="label">{{link.label}}</span>
        <mat-divider>
        </mat-divider>
      </mat-list-item>

      <mat-accordion>
        <mat-expansion-panel class="panel" *ngIf="onlineUser==1">
          <mat-expansion-panel-header class="mat-expansion-panel-header">
            <mat-panel-title style="color: white;">
              <fa name="fas fa-pencil-square-o" class="rightIcons panelIcon" size="1x"></fa>
              <p style="margin-top: 15px;
      ">اعطا حق امضا</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of delegationSigniture" [routerLink]="link.path">
            <fa [name]="link.icon" class="rightIcons"></fa>
            <span class="label">{{link.label}}</span>
            <mat-divider>
            </mat-divider>
          </mat-list-item>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="onlineUser==1" class="panel">
          <mat-expansion-panel-header class="mat-expansion-panel-header">
            <mat-panel-title style="color: white;">
              <fa name="fas fa-th-list" class="rightIcons panelIcon" size="1x"></fa>
              <p style="margin-top: 15px;
      ">افزودن آیتم</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of addItems" [routerLink]="link.path">
            <fa [name]="link.icon" class="rightIcons"></fa>
            <span class="label">{{link.label}}</span>
            <mat-divider>
            </mat-divider>
          </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel">
          <mat-expansion-panel-header class="mat-expansion-panel-header">
            <mat-panel-title style="color: white;">
              <fa name="fas fa-clone" class="rightIcons panelIcon" size="1x"></fa>
              <p style="margin-top: 15px;
      ">کارتابل</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of cartable" [routerLink]="link.path">
            <fa [name]="link.icon" class="rightIcons"></fa>
            <span class="label">{{link.label}}</span>
            <mat-divider>
            </mat-divider>
          </mat-list-item>
        </mat-expansion-panel>

      </mat-accordion>



      <div *ngIf="onlineUser==1">
        <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of adminPages" [routerLink]="link.path">
          <fa [name]="link.icon" class="rightIcons"></fa>
          <span class="label">{{link.label}}</span>
          <mat-divider>
          </mat-divider>
        </mat-list-item>
      </div>

      <div >
        <mat-list-item (click)="drawer.toggle()" role="listitem" *ngFor="let link of expertPages" [routerLink]="link.path">
          <fa [name]="link.icon" class="rightIcons"></fa>
          <span class="label">{{link.label}}</span>
          <mat-divider>
          </mat-divider>
        </mat-list-item>
      </div>

      <mat-list-item (click)="logout()" role="listitem">
        <fa name="fas fa-sign-out" size="1x"></fa>
        <span class="label">خروج</span>
        <mat-divider>
        </mat-divider>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <fa name="fas fa-align-justify" size="2x" class="rightMenuIcon" (click)="drawer.toggle()"></fa>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>