<div dir="rtl">
  <mat-card class="titrCard">
    <h5 class="titr">
      ایجاد آیتم غیر محاسباتی کلی جدید
    </h5>
  </mat-card>
  <br>
  <form [formGroup]="addFormul" (ngSubmit)="addCommonFormul()" class="center" >

    <div class="col col-1"></div>


    <div class="col col-3">
      <mat-form-field class="example-full-width">
        <input formControlName="name" matInput placeholder="نام" [(ngModel)]="displayName" >
      </mat-form-field>
    </div>
    <div class="col col-3">
      <mat-form-field class="example-full-width">
        <input formControlName="description" matInput placeholder="توضیحات" [(ngModel)]="description" >
      </mat-form-field>
    </div>
    <p *ngIf="!this.addFormul.valid" style="color: red;">   {{errorMessage}}</p>
       <div>
      <button style="float:right" mat-raised-button color="primary" >ذخیره</button>
    </div>
  </form>
</div>