<mat-card class="titrCard">
  <h5 class="titr">
    تغییر اطلاعات اساتید
  </h5>
</mat-card>

<!-- <app-loading *ngIf="commonService.loading==true"></app-loading> -->

<br>
<div class="row ">
  <div class="col-4"></div>
  <div class="col-4 selectTeacher ">
    <button mat-button color="accent" (click)="btnChooseTeacher()">

      <h4> {{this.fullName}}</h4>
    </button>
  </div>

  <div class="col-4"></div>
</div>
<button *ngIf="showCourseValueTable" type="submit" mat-raised-button color="primary" matTooltip="ذخیره "
  class=" btnSave" aria-hidden="true" mat-raised-button (click)="save()">
  <i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp; ذخیره &nbsp; </button>


<div style="padding: 1%;" *ngIf="showCourseValueTable" dir="rtl" id="print-section">
<table width="1698" >
  <tbody>
    <tr>
      <td width="1698">
        <p>
          <strong>1- مشخصات مدرس:&nbsp; </strong>نام خانوادگی: &nbsp;
          <strong>{{lastName}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;نام:
          <strong>&nbsp;{{firstName}}
          </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;شماره&zwnj;شناسنامه:
          <strong>&nbsp;&nbsp;&nbsp; <span><input class="textBox"  [(ngModel)]="userDetails.shomareShenasname"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>شماره ملی:&nbsp;
          <input class="textBox"   [(ngModel)]="userDetails.shomareMeli">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;</p>
        <p>نام پدر:
          <strong>&nbsp;&nbsp;&nbsp;<input   class="textBox"  [(ngModel)]="userDetails.namePedar"></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; تاریخ تولد:  
          <strong> <input class="textBox"  [(ngModel)]="userDetails.tarikhTavalod"></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;محل تولد: &nbsp;&nbsp;<input class="textBox"  [(ngModel)]="userDetails.mahaleTavalod">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;وضعیت
          تأهل:
          <strong>  <input class="textBox"  [(ngModel)]="userDetails.vaziateTaahol"></strong>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;جنسیت:
          <strong>  <input class="textBox" [(ngModel)]="userDetails.jensiat"></strong>
        </p>
        <p>2-
          <strong>آخرین مدرک تحصیلی</strong>:&nbsp;
          <strong> <input class="textBox"  [(ngModel)]="userDetails.akharinMadrakTahsili"></strong>&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;رشته
          تحصیلی:  <input class="textBox"  [(ngModel)]="userDetails.reshteTahsili">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;سال
          اخذ:  <input class="textBox"  [(ngModel)]="userDetails.saleAkhz">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</p>
        <p>محل اخذ آخرین مدرک(کشور و دانشگاه): &nbsp;  <input class="textBox" [(ngModel)]="userDetails.mahaleAkhzAkharinMadrak">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; رتبه علمی
          : &nbsp;
          <strong>
            <input class="textBox"  [(ngModel)]="userDetails.rotbeElmi"></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; پایه:
          <strong>  <input class="textBox"  [(ngModel)]="userDetails.paye"></strong>
        </p>
        <p>
          <strong>3- وضعیت شغلی:</strong> چنانچه در دانشگاه شاغل هستید چند ساعت تدریس می&zwnj;نمایید؟
          <input class="textBox"  [(ngModel)]="userDetails.vaziateShoghli"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;ساعت&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;سال
          سابقه:
          <strong> <input class="textBox"  [(ngModel)]="userDetails.saleSabeghe">&nbsp;&nbsp;&nbsp; </strong>&nbsp;&nbsp;&nbsp;&nbsp;سال</p>
        <p>در کدام دانشگاه&shy;ها: &nbsp; <input class="textBox" [(ngModel)]="userDetails.kodamDaneshgahha">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          شماره
          حساب بانک تجارت:&nbsp;&nbsp;
          <strong><input class="textBox"  [(ngModel)]="userDetails.shomareHesab"></strong>
        </p>
        <p>نشانی و تلفن:
          <strong><input class="textBoxWide" [(ngModel)]="userDetails.neshaniVaTelephone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - شماره تلفن
            همراه&nbsp; <input class="textBox" [(ngModel)]="userDetails.mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </strong>
        </p>
      </td>
    </tr>
    <td>   
      <!-- <input class="textBoxWide" [(ngModel)]="userDetails.daneshkade">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - مدرک تحصیلی
        <input class="textBox" [(ngModel)]="userDetails.madrakTahsili">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <input class="textBoxWide" [(ngModel)]="userDetails.gorohAmozeshi"> -->

        <p>4-
          <strong>دانشکده</strong>:&nbsp;
          <strong> <input class="textBox"  [(ngModel)]="userDetails.daneshkade"></strong>&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;گروه
          آموزشی:  <input class="textBox"  [(ngModel)]="userDetails.gorohAmozeshi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</p>
      
   </td>
    <tr>
      <app-totalMainGridReport></app-totalMainGridReport>
    </tr>
  </tbody>
</table>



<!-- <table>
  <tbody>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  </tbody>
  </table> -->
  <!-- DivTable.com -->
  <!-- <table class="table table-striped table-responsive table-hover">
    <tbody>
    <tr>
    <td>
      <input class="textBox" matInput placeholder="شماره شناسنامه" [(ngModel)]="{{userDetails.shomareShenasname}}">
    </td>
    <td>
      <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
    </td>
    <td>
      <input class="textBox" matInput placeholder=" نام پدر" [(ngModel)]="{{userDetails.shomareMeli}}">
    </td>
    <td>
      <input class="textBox" matInput placeholder="تاریخ تولد " [(ngModel)]="{{userDetails.shomareMelli}}">
    </td>
    </tr>
    <tr>
      <td>
        <input class="textBox" matInput placeholder="محل تولد " [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="وضعیت تاهل" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder=" جنسیت" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="آخرین مدرک تحصیلی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
    </tr>
    <tr>
      <td>
        <input class="textBox" matInput placeholder="رشته تحصیلی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="سال اخذ" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="محل اخذ آخرین مدرک(کشور و دانشگاه)" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="وضعیت شغلی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
    </tr>
    <tr>
      <td>
        <input class="textBox" matInput placeholder="پایه " [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
    </tr>
    <tr>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
      <td>
        <input class="textBox" matInput placeholder="شماره ملی" [(ngModel)]="{{userDetails.shomareMelli}}">
      </td>
    </tr>
    </tbody>
    </table> -->

</div>