
.mat-drawer-content{
.mat-sidenav-content{
    overflow-y: hidden;
}
} 

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  