.titrCard{
    position: static;
    background-color: #00BCD4;
   color:white;

   .titr{
    overflow-y: hidden;
   }
}
.example-card {
    max-width: 100%;
    min-width: 100%;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .txtBox{
    max-width: 20%;
  }

  
 