<mat-card>
  <mat-card-header>
    <mat-card-subtitle>

    </mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="center" (keydown)="keyDownFunction($event)">

    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="نام کاربری" formControlName="username" />
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="رمز عبور" formControlName="password" />
    </mat-form-field>
    <br>

    <mat-form-field class="full-width">
      <mat-select [(ngModel)]="termId" (ngModelChange)="changeTerm(termId)" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let term of termList" [value]="term.id">{{term.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!-- <mat-progress-bar class="full-width"  *ngIf="commonService.loading==true" mode="indeterminate"></mat-progress-bar> -->


    <br>
    <button *ngIf="connectToServer" mat-raised-button type="submit" color="primary">
      <!-- <i class="fa fa-key fa-spin 1a-3x fa-fw" style="padding: 2px;" aria-hidden="true"></i> ورود</button> <mat-spinner [diameter]="20"    *ngIf="commonService.loading==true"  style="   position: absolute; margin-right: 48%;" ></mat-spinner>  -->
      <i class="fa fa-key " style="padding: 2px; cursor: pointer;" aria-hidden="true"></i> ورود</button>
    <button disabled *ngIf="!connectToServer" mat-raised-button type="submit" color="primary">
      <!-- <i class="fa fa-key fa-spin 1a-3x fa-fw" style="padding: 2px;" aria-hidden="true"></i> ورود</button> <mat-spinner [diameter]="20"    *ngIf="commonService.loading==true"  style="   position: absolute; margin-right: 48%;" ></mat-spinner>  -->
      <i class="fa fa-key " style="padding: 2px;" aria-hidden="true"></i> ورود</button>

    <mat-spinner [diameter]="30" *ngIf="commonService.loading==true" style="   position: absolute; margin-right: 48%;"></mat-spinner>

    <!-- <mat-progress-bar *ngIf="commonService.loading==true" mode="indeterminate"></mat-progress-bar> -->
  </form>
  <mat-card-footer *ngIf="message != null ">
    <p class="error">
      {{message}}
    </p>
  </mat-card-footer>
</mat-card>
<!-- <img class="image" src="./assets/index.jpg" width="60px"> -->
<router-outlet></router-outlet>