#print-section{padding: 1%;}
.selectTeacher{
    text-align: center;
     cursor: pointer;
      }
     .textBox{
          border: 0px;
         width: 6%;
     }
     .textBoxWide{
        border: 0px;
       width:35%;
   }
   .btnSave{
    margin-right: 1%;
     //font-size: small;
     //background-color: seagreen;
     background-color:#bcd400!important;
     }
     .btnROllBack{
      // background-color: orchid;
      background-color:#d400bc!important;
      margin-right: 2px;
     }
   