/* Structure */
table {
    width: 100%;
  
  }
  tr{
    cursor: pointer;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-sort-header-container {
    align-items: center;
  }