<mat-card class="titrCard">
  <h5 class="titr">
    اعطای حق امضا به کاربران برای قرارداد
  </h5>
</mat-card>
<mat-card  *ngIf="commonService.loading==true" class="spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>
<br>

<div class="row ">
  <div class="col-4"></div>
  <div class="col-4 selectTeacher ">
    <button mat-button color="accent" (click)="btnChooseCategory()">

      <h4> {{this.categoryName}}</h4>
    </button>
  </div>

  <div class="col-4"></div>
</div>

<button type="submit" mat-raised-button color="primary" matTooltip="ذخیره " class=" btnSave" aria-hidden="true"
(click)="saveChanges()"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;   ذخیره &nbsp; </button>
<button mat-raised-button color="primary"  class=" btnROllBack" aria-hidden="true"
 (click)="getSigningContract()"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i> بازنشانی </button>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="جستجو در لیست اساتید">
</mat-form-field>
<div class="mat-elevation-z8">

  <table  matSort class="table table-bordered table-hover" mat-table dir="rtl" [dataSource]="dataSource">

    <ng-container matColumnDef="signitureNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> شماره امضا </th>
      <td mat-cell *matCellDef="let row"> {{row.signitureNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> نام و نام خانوادگی </th>
      <td mat-cell *matCellDef="let row"> <button mat-button color="accent" (click)="btnChooseTeacher(row)">
        <h4>  {{row.fullName}}</h4>
      </button> </td>
    </ng-container>

    <ng-container matColumnDef="post">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> سمت </th>
      <td mat-cell *matCellDef="let row"> 
<input  [(ngModel)]="row.post"> 

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  
  <p style="margin-right: 1%; color: lightcoral;">* هرچه شماره امضا بیشتر باشد اهمیت آن بیشتر است.</p>
  

</div>

