<mat-card class="titrCard">
  <h5 class="titr">
    ویرایش مشخصات کاربران
  </h5>
</mat-card>
<mat-card *ngIf="commonService.loading==true" class="spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>
<br>

<div>
  <div class="row ">
    <div class="col-4"></div>
    <div class="col-4 selectTeacher ">
      <button mat-button color="accent" (click)="btnChooseUser()">
        <h4>{{this.fullName}}</h4>
      </button>
    </div>
    <div class="col-4"></div>
  </div>

  <br>
  <mat-card class="cardContainer">
    <form [formGroup]="registerForm" (ngSubmit)="saveData()" class="center">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="نام کاربری" formControlName="username" />
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="رمز عبور" formControlName="password" />
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="نام " formControlName="firstName" />
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput type="text"  placeholder="نام خانوادگی " formControlName="lastName" />
      </mat-form-field>
      <br>
      <!-- <mat-form-field class="full-width">
        <input matInput type="text" value={{type}} placeholder=" دسترسی کاربر" formControlName="type" />
      </mat-form-field>
      <br> -->

      <!-- <mat-form-field class="full-width">
        <mat-select [(ngModel)]="typeId" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let t of typeList" [value]="t.id">{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <br>
      <mat-form-field class="full-width">
        <input matInput type="text"  placeholder="شماره پرسنلی" formControlName="code" />
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <!-- <mat-label>گروه آموزشی</mat-label> -->
        <!-- <mat-select (closed)="closeSelect(myControl.value)" [formControl]="myControl" multiple>
          <mat-select-trigger>
            {{myControl.value ? myControl.value[0] : ''}}
            <span *ngIf="myControl.value?.length > 1" class="example-additional-selection">
              (+{{myControl.value.length - 1}} {{myControl.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.xDepartment_Farsi}}</mat-option>
        </mat-select> --> 
        <mat-select  [(ngModel)]="department" [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let topping of toppingList" [value]="topping.x_">
            {{topping.xDepartment_Farsi}}
          </mat-option>
        </mat-select>
        
      </mat-form-field>

      <br>
      <!-- <mat-checkbox formControlName="haveAccount" class="example-margin"
       > آیا کاربر قابلیت ورود به سامانه را دارد؟
      </mat-checkbox> -->
       <!-- </mat-form-field>
      <mat-slide-toggle  formControlName="code">آیا کاربر قابلیت ورود به سامانه را دارد؟</mat-slide-toggle>
    </mat-form-field> -->
      <br>
      <button type="submit" mat-raised-button color="primary" matTooltip="ذخیره " class=" btnSave" aria-hidden="true">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp; ذخیره &nbsp; </button>
      <button (click)="resetFrom()" type="reset" mat-raised-button color="primary" class=" btnROllBack"
        aria-hidden="true">
        <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i> بازنشانی </button>
    </form>
    <br>
  </mat-card>
</div>
<router-outlet></router-outlet>